
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }  
  
  body {
    font-family: 'Spectral', serif;
    background-color: transparent;
  }
  
  /* BARRA DE NAVEGACION */
  .navbar {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: #000;
  }
  
  /* HAMBURGUESA */
  .menu-toggle {
  display: block;
  cursor: pointer;
}

 .btn-login {
    background-color:transparent;
    color: black;
    font-family: 'Spectral', serif;
    border: 1px solid black;
    border-radius: 1px;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; 
  }


 .btn-login:hover {
    background-color: #f5f5f5; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    transform: translateY(-1px); 
  }

 /* LOGO */ 
.logo-galerie {
    background: transparent;
    text-align: center;
    margin-top: 0px;
    margin-bottom: -40px;
    z-index: 5;
    position: relative;
  }
  
  .logo-galerie h1 {
    font-size: 100px;
    font-weight: 350;
    font-family: 'Spectral', serif;
    color: black; 
    margin: 0;
    letter-spacing: 3px;
  }

/* HERO */

  .hero {
    position: relative;
    background-image: url('../img/hero1.jpg'); 
    background-size: auto;   
    background-repeat: no-repeat;     
    background-position: center; 
    height: 180vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2; 
  }
  
  .hero h1 {
    font-size: 75px;
    font-weight: 500;
   
  }
  
  .hero p {
    font-size: 30px;
    font-weight: 450;
  }  

  .linea-divisoria {
    border: none;
    border-top: 2px solid #ccc;
    margin: 50px auto 20px auto;
    width: 95%;
  }  

  /* PROYECTOS */
  .proyectos {
    padding: 60px 0;
    background-color: transparent;
  }
  
  .proyectos-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .nuestro-trabajo {
    flex: 1;
  }
  
  .nuestro-trabajo img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .nuestro-trabajo h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .nuestro-trabajo p {
    font-size: 16px;
    color: #555;
  }
  
  .proyecto-derecha {
    flex: 1;
  }
  
  .proyectos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .mini-proyecto img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  .mini-proyecto p {
    font-size: 14px;
    color: #333;
    text-align: left;
    margin-top: 8px;
  }
  
  .mini-descripcion {
    font-size: 13px;
    color: #666;
    margin-top: 4px;
  }  

/* HERO2 */
  .hero2 {
    position: relative;
    background-image: url('../img/hero2.jpg'); 
    background-size: cover;
    background-position: center;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: white;
    margin-top: 40px;
  }
  
  .hero2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .hero2-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    padding: 0 20px;
  }
  
  .hero2-content h2 {
    font-size: 85px;
    font-weight: 420;
    margin-bottom: 20px;
    letter-spacing: -px;
  }
  
  .hero2-content p {
    font-size: 20px;
    font-weight: 300;
  }

   /* EXPERIENCIAS */

   .experiencias {
    padding: 60px 20px;
    text-align: center;
  }
  
  .experiencias h2 {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 450;
  }
  
  /* ESTILO EXPERIENCIAS*/

  .experiencias-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: auto;
  }
  
  .experiencia {
    width: 180px;
    text-align: center;
  }
  
  .experiencia img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
  }
  
  .experiencia h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .experiencia p {
    font-size: 14px;
    color: #555;
  }
  
  .experiencia1 img {
    height: 350px;
    width: 220px;
    object-fit: cover;
  }
  .experiencia1 img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease;
  }
  
  .experiencia2 img {
    height: 350px;
    width: 220px;
    object-fit: cover;
  }
  .experiencia2 img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
  }
  
  .experiencia3 img {
    height: 350px;
    width: 220px;
    object-fit: cover;
  }
  .experiencia3 img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
  }
  
  .experiencia4 img {
    height: 350px;
    width: 220px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .experiencia4 img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
  }
  
  .experiencia5 img {
    height: 350px;
    width: 220px;
    object-fit: cover;
  }
  .experiencia5 img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
  }

  /*  INFORMACION */
  
  .informacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    gap: 40px;
  }
  
  .info-contenido {
    flex: 1;
    max-width: 50%;
  }
  
  .info-contenido h2 {
    font-size: 60px;
    font-weight:400;
    margin-bottom: 300px;
    line-height: 1.2;
  }
  
  .info-contenido p {
    font-size: 20px;
    color: #555;
    line-height: 2;
    text-align: left;
  }
  
  .info-imagen {
    flex: 1;
    max-width: 50%;
  }
  
  .info-imagen img {
    width: 650px;
    height: 750px;
    display: block;
    object-fit: cover;
  }

  /* ASESORIA */

  .asesoria {
    margin-top: 60px;
    padding: 40px 20px;
    text-align: center;
  }
  
  .asesoria p {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .asesoria form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .asesoria input[type="email"] {
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 5px;
    font-size: 16px;
    background-color: transparent;
    width: 350px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .asesoria input[type="email"]:focus {
    border-color: transparent;
  }
  
  .asesoria button {
    background: none;
    color: #000;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s ease;
    text-underline-offset: 4px;
  }
  
  .asesoria button:hover {
    color: #555;
  }  
  
  /* FOOTER */
  .footer {
    background-color: transparent; 
    color: black;
    text-align: center;
    padding: 24px 0; 
    margin-top: 40px; 
    font-family: 'Spectral', serif;
    font-size: 16px;
    ;
  }
  